#root{
    background-color: #0B162C;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: #5FC2BA ;
}

label{
    color: white;
}